html, body, div, ul, ol, li, button, h1,h2,h3,h4,h5 p
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #3c3c3c;
    font-family: 'Open Sans', sans-serif;
    color: #BBBBBB;
    line-height: 2em;
}

h1,h2,h3,h4,h5
{
    font-family: 'Cormorant SC', serif;    
    color: #FFFFFF;
    text-transform: none;
}

a
{
    color:#FFFFFF;
    font-weight: bold;
    text-decoration: none;
     -webkit-transition: color .7s;
    transition: color .7s;
}
a:hover{
    color:#deffc6;
}

#container
{
    max-width: 1300px;
    margin: 0px auto;
}

#content{
    /*margin-top:40px;
    margin-bottom: 40px;*/
    float:right;
    width:60%;
    margin-right: 4%;
}
#content h1,h2
{
    margin-bottom:10px;
}
#content h1
{
    font-size: 40px;
    line-height:45px;
    text-transform: uppercase;
}
#content h3,#content h4,#content h5
{
    text-transform: uppercase;
}
#content hr
{
    margin-top:40px;
    margin-bottom:40px;
}

#sidebar
{
    /*display: block;*/
    /*top:0px;*/
    /*left: 8%;*/
    /*padding: 30px;*/
    float: left;
    /*padding-right: 60px;*/
    width: 25%;
    padding:3%;
    min-width:240px;
    overflow-y: visible;
    background-color: #4c4c4c;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#sidebar ul
{
    list-style-type: none;
}
#sidebar ol
{
    list-style-position: inside;
}
#sidebar li
{
    margin-left: 10px;
    padding: 0;
}
#sidebar h4
{
    text-transform: uppercase;    
}

#sc-widget
{
   position: fixed;
   clear:both;
   left:0px;
   bottom: 0px;
}

